<header class="header">
  <nav>
    <!--------------------- SANDIWCH MENU --------------------->
    <button class="g-icon-button sandwich-menu" type="button" (click)="toggleSideMenu()">
      <img src="assets/menu.svg" alt="menu">
    </button>
    <!-- side menu on left -->
    <div class="side-menu" [class.open]="openSideMenu">
      <button type="button" (click)="toggleSideMenu()" class="g-icon-button">
        <img src="assets/close-black.svg" alt="close">
      </button>
      <ul>
        <li *ngFor="let route of routes">
          <a [href]="route.path">{{route.name}}</a>
        </li>
      </ul> 
    </div>
    <!--------------------- NAVBAR --------------------->
    <!-- logo -->
    <a href="#" class="g-logo">no.clipped</a>
    <!-- paths -->
    <ul class="hide-menu">
      <li *ngFor="let route of routes">
        <a [href]="route.path">{{route.name}}</a>
      </li>
    </ul> 
    <!-- cart button -->
    <div class="cart-account">
      <div class="account">
        <p *ngIf="profile; else ifNoProfile">{{profile.email}}</p>
        <ng-template #ifNoProfile>
          <button (click)="login()" class="btn-primary">Log in</button>
          <button class="btn-secondary">Sign up</button>
        </ng-template>
      </div>
      <div class="cart">
        <button type="button">
          <img src="assets/cart.svg" alt="cart">
          <span class="counter">{{numProductsOnCart}}</span>
        </button>
      </div>
    </div>
  </nav>
</header>