<div class="page-product">
  <!-- <button>Back</button> -->
  <section>
    <div class="image-carrousel">
      <div class="image">
        <img src="assets/image-not-found.png" alt="product image">
      </div>
      <div class="image">
        <img src="assets/image-not-found.png" alt="product image">
      </div>
      <div class="image">
        <img src="assets/image-not-found.png" alt="product image">
      </div>
      <div class="image">
        <img src="assets/image-not-found.png" alt="product image">
      </div>
    </div>
    <div class="product-detail">
      <!-- <h2>{{product?.title}}</h2>
      <p>{{product?.description}}</p>
      <p>{{product?.price | currency}}</p> -->
      <h2>Product title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
      <p>{{'100' | currency}}</p>
    </div>
  </section>
</div>