.products--grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill,  330px);
  gap: .5rem;
  row-gap: 1rem;
  place-items: center;
  padding-block: 1rem;
  justify-content: center;
}

.load-more {
  width: 320px;
  height: 430px;
  display: grid;
  place-items: center;
  button {
    width:  100%;
    height: 100%;
    margin: auto;
    font-size: 1.5rem;
    color: var(--gray);
    background: var(--background);
    border: 2px solid var(--gray);
    border-radius: 12px;
    &:hover {
      border-color: var(--contrast);
      color: var(--contrast);
    }
  }
}

.product-detail {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  min-width: 360px;
  height: 100%;
  background: var(--white);
  overflow-y: scroll;
  box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75) ;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  &.open {
    transform: translateX(0);
  }
  button {
    position: sticky;
    top: 0;
    background: var(--gray);
    z-index: 2;
  }
  .product-images{
    width: 100%;
    padding: 0;
    position: relative;
    top: -32px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-stop: always;
    scroll-snap-type: x mandatory;
    z-index: 1;
    div{
      height: 100%;
      scroll-snap-align: center;
      img {
        height: 100%;
      }
    }
    ::-webkit-scrollbar {
      width: 1px;
    }
  }
  .product-info {
    padding-inline: 1rem;
    background: var(--white);
    h2 {
      margin-top: 0;
      font-size: 1.5rem;
      font-weight: 600;
      margin-block: 0.5rem;
    }
  }
}
