<!------------------------ PRODUCT CARD ------------------------>

<div class="product--container">
  <!-- image -->
  <div class="product-image">
    <img [src]="product.images[0]" [alt]="product.description">
  </div>
  <!-- details -->
  <div class="product-details">
      <a href="product-detail/{{product.id}}">
      <h2 class="product-name">{{product.title}}</h2>
      </a>    
      <p class="product-price">{{product.price | currency}}</p>
    </div>
  <!-- button group -->
  <div class="product-actions">
    <a routerLink="." [queryParams]="{product: product.id}">Quick Look</a>
    <button (click)="addToCart()">Add to cart</button>
    <!-- <button (click)="viewQuickDetails()">Quick look</button> -->
  </div>
</div>