/* In the root section we'll declare the colors of the webpage, is a pallette of blacks, grays, whites, and greens*/

@font-face {
  font-family: 'Chunkfive Ex';
  src: url('assets/Chunkfive\ Ex.ttf');
}
:root {
  --black: #333333;
  --gray: #898989;
  --light-gray: #EDEDEE;
  --white: #FFF;
  --contrast: #E6621F;
}
/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
}

body {
  display: block;
  
}

.g-logo {
  font-family: 'Chunkfive Ex', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  text-decoration: none;
  color: white;
}

.g-icon-button {
  width: 32px;
  height: 32px;
  background: none;
  padding: 2px;
  img {
    position: relative;
    width: 24px;
    height: 24px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-gray)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--contrast)
}
